<footer class="footer" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-sm-7 col-12 footer-item">
              <div class="footer__contact">
                <div class="footer__contact--title border-footer">
                  <p class="footer--title">Theo dõi qua email</p>
                </div>
                <div class="footer__contact--description">
                  <p>Nhận ngay khuyễn mãi 10% khi đăng kí nhận email từ chúng tôi.</p>
                </div>
                <form action="">
                  <input type="text" placeholder="Địa chỉ email"/>
                  <button class="btn-base"><span>đăng kí ngay</span></button>
                </form>
              </div>
            </div>
            <div class="col-lg-2 col-sm-5 col-6 footer-item">
              <div class="footer__social">
                <div class="footer__social--title border-footer">
                  <p class="footer--title">mạng xã hội</p>
                </div>
                <ul class="footer-menu">
                  <li><a href="https://www.facebook.com">Facebook</a></li>
                  <li><a href="https://www.instagram.com">Instargram</a></li>
                  <li><a href="https://twitter.com">Twitter</a></li>
                  <li><a href="https://www.google.com/">Google +</a></li>
                  <li><a href="https://vn.linkedin.com/">Linkedin</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-sm-5 col-6 footer-item">
              <div class="footer__link">
                <div class="footer__link--title border-footer">
                  <p class="footer--title">mạng xã hội</p>
                </div>
                <ul class="footer-menu">
                  <li><a href="index.html">Trang chủ</a></li>
                  <li><a href="#">Cửa hàng</a></li>
                  <li><a href="about-us.html">Giới thiệu</a></li>
                  <li><a href="blog.html">Tin tức</a></li>
                  <li><a href="policies.html">Chính sách</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-sm-7 col-12 footer-item">
              <div class="footer__infor">
                <div class="footer__infor2 text-center">
                  <div class="footer__infor2--logo"><a href="#"><img src="assets/images/footer/logo2.png" alt="logo"/></a></div>
                  <div class="footer__infor2--text">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>