<div class="about-us" id="about-us">
        <div class="blog__breadcrumb">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="blog__breadcrumb--content">
                  <div class="blog__breadcrumb--title border-tree">
                    <p class="title-base">Giới thiệu</p>
                  </div>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Giới thiệu</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us__content">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="about-us__introduce">
                  <div class="row">
                    <div class="col-lg-4 col-12">
                      <div class="about-us__introduce--title border-tree">
                        <p class="title-base">chúng tôi là aoifood</p>
                      </div>
                      <div class="about-us__introduce--description">
                        <p>Our farm is a second-generation organic farm that was our parents, Mark & Renée Elliott’s dream to offer the best and healthiest range of organic foods available, promote health in the community and bring a sense of discovery and adventure into food shopping.</p>
                        <p>Bacon ipsum dolor amet ham hock beef doner cow boudin, porchetta ribeye. Cow capicola beef ribs kielbasa tri-tip flank cupim pork chop corned beef. Frankfurter tri-tip sirloin fatback.</p>
                        <p>Born on the farm in Capay, Michael showed an early proficiency in the machine shop and is responsible for designing tools used on the farm today.</p>
                      </div>
                    </div>
                    <div class="col-lg-8 col-12">
                      <div class="row">
                        <div class="col-12">
                          <div class="about-us__introduce--img"><img src="assets/images/about-us/about-us1.png" alt=""/></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                          <div class="about-us__introduce--img mr-7 mt-15"><img src="assets/images/about-us/about-us2.png" alt=""/></div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-12">
                          <div class="about-us__introduce--img ml-7 mt-15"><img src="assets/images/about-us/about-us2.png" alt=""/></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us__why-choose">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 mobile-hidden">
                <p></p>
              </div>
              <div class="col-lg-6 col-12">
                <div class="why-choose__content">
                  <div class="why-choose__content--title border-tree">
                    <p class="title-base">Tại sao nên chọn aoifood</p>
                  </div>
                  <div class="why-choose__content--description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit reprehenderit quos, magnam explicabo dolor hic earum</p>
                  </div>
                  <div class="why-choose__reason">
                    <div class="reason">
                      <div class="row">
                        <div class="col-3">
                          <div class="reason__img"><img src="assets/images/taisaochon_aoi/gift.png" alt=""/></div>
                        </div>
                        <div class="col-9">
                          <div class="reason__content">
                            <p class="reason__content--title">giao hàng tận nơi</p>
                            <p class="reason__content--description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsam, rerum beatae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="reason">
                      <div class="row">
                        <div class="col-3">
                          <div class="reason__img"><img src="assets/images/taisaochon_aoi/like.png" alt=""/></div>
                        </div>
                        <div class="col-9">
                          <div class="reason__content">
                            <p class="reason__content--title">giao hàng tận nơi</p>
                            <p class="reason__content--description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsam, rerum beatae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="reason">
                      <div class="row">
                        <div class="col-3">
                          <div class="reason__img"><img src="assets/images/taisaochon_aoi/hand.png" alt=""/></div>
                        </div>
                        <div class="col-9">
                          <div class="reason__content">
                            <p class="reason__content--title">giao hàng tận nơi</p>
                            <p class="reason__content--description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde ipsam, rerum beatae</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us__team">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="about-us__team--content">
                  <div class="about-us__team--title border-tree">
                    <p class="title-base">đội ngũ của chúng thôi</p>
                  </div>
                  <div class="about-us__team--description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla placerat posuere dui. Pellentesque venenatis sem non lacus scelerisque, ac auctor odio sodales.</p>
                  </div>
                  <div class="about-us__team--content2">
                    <div class="row">
                      <div class="col-lg-3 col-sm-6 col-12">
                        <div class="team-item">
                          <div class="team-item__img text-center"><img src="assets/images/about-us/team1.png" alt=""/></div>
                          <div class="team-item__content text-center">
                            <p class="team-item__content--name">Nguyễn Văn A</p>
                            <p class="team-item__content--job">Tổng giám đốc</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-12">
                        <div class="team-item">
                          <div class="team-item__img text-center"><img src="assets/images/about-us/team2.png" alt=""/></div>
                          <div class="team-item__content text-center">
                            <p class="team-item__content--name">Nguyễn Văn B</p>
                            <p class="team-item__content--job">Chủ tịch</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-12">
                        <div class="team-item">
                          <div class="team-item__img text-center"><img src="assets/images/about-us/team3.png" alt=""/></div>
                          <div class="team-item__content text-center">
                            <p class="team-item__content--name">Nguyễn Văn C</p>
                            <p class="team-item__content--job">Leader</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-6 col-12">
                        <div class="team-item">
                          <div class="team-item__img text-center"><img src="assets/images/about-us/team4.png" alt=""/></div>
                          <div class="team-item__content text-center">
                            <p class="team-item__content--name">Nguyễn Văn D</p>
                            <p class="team-item__content--job">Seo</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="highlight" id="highlight">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-sm-6 col-6">
                <div class="highlight--infor text-center">
                  <p class="number">96</p>
                  <p class="text">Bacon Ipsum</p>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-6">
                <div class="highlight--infor text-center">
                  <p class="number">666</p>
                  <p class="text">Bacon Ipsum</p>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-6">
                <div class="highlight--infor text-center">
                  <p class="number">420</p>
                  <p class="text">Bacon Ipsum</p>
                </div>
              </div>
              <div class="col-lg-3 col-sm-6 col-6">
                <div class="highlight--infor text-center">
                  <p class="number">516</p>
                  <p class="text">Bacon Ipsum</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about-us__faq">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-12">
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab active">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-minus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined with a dash of adipiscing consectetur?">Can lorem ipsum be brined with a dash of adipiscing consectetur?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined with a dash of adipiscing consectetur?">Can lorem ipsum be brined with a dash of adipiscing consectetur?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
              </div>
              <div class="col-lg-6 col-12">
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined?">Can lorem ipsum be brined?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined with a dash of adipiscing consectetur?">Can lorem ipsum be brined with a dash of adipiscing consectetur?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
                <div class="faq-item2 faq-item2-wrap">
                  <div class="faq-item2__tab">
                    <div class="row">
                      <div class="col-10">
                        <p title="Can lorem ipsum be brined with a dash of adipiscing consectetur?">Can lorem ipsum be brined with a dash of adipiscing consectetur?</p>
                      </div>
                      <div class="col-2 text-right"><a class="faq-button" href=""><i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                  <div class="faq-item2__content disabled">
                    <p>Shank picanha tenderloin beef ribs tongue leberkas. Ham porchetta biltong sausage, short ribs picanha flank kevin ground round. Tail tenderloin tri-tip doner jowl landjaeger, flank pastrami salami.</p>
                  </div>
                </div>
                <!--.faq-item2-wrap-->
              </div>
            </div>
          </div>
        </div>
      </div>