<div style="padding-bottom:200px">
    <div class="blog__breadcrumb">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="blog__breadcrumb--content">
                        <div class="blog__breadcrumb--title border-tree">
                          <p class="title-base">Quản trị</p>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Quản trị</li>
                          </ol>
                        </nav>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
    <div class="container" style="padding-top:5%">
            <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Tên quản trị</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td><a style="color:black" routerLink="/manager-categories">Category manager</a></td>
                       
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td><a style="color:black" routerLink="/manager-products">Product manager</a></td>
                        
                      </tr>
                      
                    </tbody>
                  </table>
    </div>
</div>
<style>
  a{color:white}
</style>