
    <div class="connect-me">
        <div class="phone"><a href="tel:0963203338"><img src="assets/images/TopBar_Banner/call.png" alt="phone img"/></a></div>
        <div class="message"><a href="#"><img src="assets/images/TopBar_Banner/chat.png" alt="message img"/></a></div>
      </div>
      <div class="shop" id="shop">
        <div class="blog__breadcrumb">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <div class="blog__breadcrumb--content">
                  <div class="blog__breadcrumb--title border-tree">
                    <p class="title-base">Toàn bộ sản phẩm</p>
                  </div>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Toàn bộ sản phẩm</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="shop__content">
          <div class="container">
            <div class="row">
              
              <div class="col-12">
                <div class="shop__main">
                  <div class="shop__main--top">
                   
                
                    <div class="row">
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/thitbo.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Thịt thăn bò</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/1kg</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/khoaitay.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                            <div class="hot-product-item__img--tag tag-hot">
                              <p>HOT</p>
                            </div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Khoai tây</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/500g</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/thitbo.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                            <div class="hot-product-item__img--tag tag-new">
                              <p>Mới</p>
                            </div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Thịt bò mỹ</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/100g</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>

                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/cachua.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                            <div class="hot-product-item__img--tag tag-out">
                              <p>Tạm hết hàng</p>
                            </div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Cà chua bi</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/200g</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/suon.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                            <div class="hot-product-item__img--tag tag-out">
                              <p>Tạm hết hàng</p>
                            </div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Xương sườn</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/250g</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>
                      <div class="col-xl-3 col-sm-6 col-12">
                        <div class="hot-product-item hot-product-item-wrap">
                          <div class="hot-product-item__img text-center"><img src="assets/images/sanphamnoibat/suon.png" alt="group product image"/>
                            <div class="hot-product-item__img--bg"><a href=""><img src="assets/images/sanphamnoibat/buybt.png" alt="button buy"/></a></div>
                            <div class="hot-product-item__img--tag tag-out">
                              <p>Tạm hết hàng</p>
                            </div>
                          </div>
                          <div class="hot-product-item__content">
                            <div class="hot-product-item__content--title"><a href="">Xương sườn</a></div>
                            <div class="hot-product-item__content--price">
                              <p>150.000<sup>đ</sup><span>/250g</span></p>
                            </div>
                          </div>
                        </div>
                        <!--.hot-product-item-wrap-->
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>